.rmdb-movie {
    margin-bottom: 100px;
  }
  
  .rmdb-movie-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .fa-film {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: dodgerblue;
  }

  .watch--button{
    background: none;
  }

  .icon--button {
    width: 10rem;
    height: 10rem;
  }