/* @import '~antd/dist/antd.css';
.movieToSee {
    padding: 1rem;
}

.main--container {
    display: flex;
    flex-direction: column;
}

.profile--movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 1rem;

}

.profile--friends {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 0 1.5%;
    width: 30%;
} */
/* 
.item2 { grid-area: menu; }
.item1 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main main'
    'menu main main main';
  grid-gap: 10px;
  padding: 10px;
  color:white;
} */



.grid-container > div {
  background-color: rgba(0, 0, 0, 0.829);
  text-align: center;
  padding: 20px 0;
}

.grid-container{
    display:flex;

}

.item1{
    flex: 0 0 75%;
    display:flex;
    flex-direction: column;
}

.profile-movies{
    display:flex;
    /* flex-direction: column; */
    width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.movie-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item2{
    flex: 1;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.friends-list{
    margin:0;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}



