.nav-container {
    background-color: #353535; 
    margin-top: 0rem; 
    padding: .1rem; 
    width: 100%; 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10000;
}

.nav-container a:visited {
    color: #fff; 
}

.logo-nav {
    height: 2.3rem;
    width: 3rem;
    display: flex;
    padding-left: 1rem;
}

.nav-flex {
    display: flex; 
    width:100%;
    flex-direction: row-reverse;
}

.nav-list {
    color: #fff; 
    list-style-type: none;
}

#list1 {
    margin-right: 1rem;    
}

#list2 {
    margin-right: 1rem; 
}

#list3 {
    margin-right: 1rem; 
}
#list4 {
    margin-right: 1rem; 
}

.ternary-nav {
    display: flex; 
}
















